.line{
    width: 100%;
}
.line1{
    height: 5px;
    background-color: #2C3E50;
    width: 100px;
    border-radius: 5px;
    margin: 5px;
}
.layer{
    background-color: #1abc9cd7;
    height: 100%;
    width: 100%;
    top: 100%;
    transition: all .5s;
}
.card:hover .layer{
top: 0;
}