<div class="footer p-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
         <div class="col text-center">
           <h3>LOCATION</h3>
           <p>2215 John Daniel Drive
            Clark, MO 65243</p>
         </div>
         <div class="col">
           <h3 class="text-center">AROUND THE WEB</h3>
           <div class="icons text-center">
            <span><i class="fa-brands fa-facebook text-white fa-2x m-2"></i></span>
            <span><i class="fa-brands fa-twitter text-white fa-2x m-2"></i></span>
            <span><i class="fa-brands fa-instagram text-white fa-2x m-2"></i></span>
            <span><i class="fa-brands fa-linkedin text-white fa-2x m-2"></i></span>
           </div>
         </div>
         <div class="col text-center">
           <h3>ABOUT FREELANCER</h3>
           <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
         </div>
        </div>
    </div>
</div>